<article class="post">
  <section class="post-head">
<h2><%= link_to post.title, post_path(post) %></h2>
<small>
  <time><%= post.created_at.to_date.strftime("%d %B, %Y") %> </time>
  <% if user_signed_in? %>
  |
  <%= link_to 'Редагувати', edit_post_path(post) %>
  |
  <%= link_to 'Видалити', post_path(post), method: :delete, data: {confirm: 'Ви впевнені?'} %>
  <% end %>
</small>
    </section>
    <selection class="post-summary">
<%= post.summary %>
      </selection>


  </article>
